<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="app/public/main.css")
	script(src="https://use.fontawesome.com/8672c190e4.js")
body
	.wrapper
		header
			img(src="app/img/Untitled.png", alt="")
			.top
				nav
					.menu
						a(href="#") webnote
						ul
							li
								a(href="#") Описание
							li
								a(href="#") Отзывы
							li
								a(href="#us") О нас
							li
								a(href="#") Заказать 
							li
								a(href="#") Контакты
				.cont1
					h1 webnote
					p Блокнот который вдохновляет
					a.but1(href="#") заказать	

		main
			.consider
				h2 Описание
				.cont2
					.book
						img(src="app/img/pal.png", alt="")
					.descr
						article.art1
							a(href="#")
								img(src="app/img/2.png", alt="")
							h3 Содержание
							p 95 страниц блокнота включают в себя инфографику,цветовые палитры,сетку,пустые страницы для проэктирования
						article.art2
							a(href="#")
								img(src="app/img/4.png", alt="")
							h3 Цена
							p оплата при получении 250грн
						article.art3
							a(href="#")
								img(src="app/img/5.png", alt="")
							h3 Материал
							p Кожаный переплет ручной работы,черный цвет.
						article.art3
							a(href="#")
								img(src="app/img/6.png", alt="")
							h3 Материал
							p Блокнот достаточно мобилен,его размер 15х90см.
				a.but1(href="#") Заказать
			.slider-wrap
				input#but1(type="radio" name="but" checked)
				input#but2(type="radio" name="but")
				input#but3(type="radio" name="but")
				input#but4(type="radio" name="but")
				input#but5(type="radio" name="but")
				input#but6(type="radio" name="but")
				input#but7(type="radio" name="but")
				.slider
					label(for="but1")
						span		
					label(for="but2")
						span
					label(for="but3")
						span
					label(for="but4")
						span
					label(for="but5")
						span
					label(for="but6")
						span
					label(for="but7")
						span
					.slide-cont
						h3 Отзывы
						ul.slide

							li
								img(src="app/img/female1.svg", alt="")
							li
								img(src="app/img/male1.png", alt="")
							li
								img(src="app/img/male2.png", alt="")
							li
								img(src="app/img/female1.svg", alt="")
							li
								img(src="app/img/male1.png", alt="")
							li
								img(src="app/img/male2.png", alt="")
							li
								img(src="app/img/female1.svg", alt="")
							li
								img(src="app/img/female1.svg", alt="")
							li
								img(src="app/img/male1.png", alt="")
							li
								img(src="app/img/male2.png", alt="")
							li
								img(src="app/img/male2.png", alt="andrey")
							li
								img(src="app/img/male2.png", alt="grigoriy")
							li
								img(src="app/img/female1.svg", alt="vera")
							li
								img(src="app/img/male2.png", alt="evgeniy")
							li
								img(src="app/img/male2.png", alt="vladimir")
							li
								img(src="app/img/male1.png", alt="vitaliy")
							li
								img(src="app/img/male2.png", alt="andrew")
							li
								img(src="app/img/male2.png", alt="andrey")
							li
								img(src="app/img/male2.png", alt="grigoriy")
							li
								img(src="app/img/female1.svg", alt="vera")
							li
								img(src="app/img/male2.png", alt="evgeniy")
					.div-text
						.text.text1
							h3 Андрей Юхно
							p  UI/UX designer
							p Спасибо ребят!Рисовать макеты теперь гораздо удобнее,очень много полезной инфы,которая не всегда держиться в голове,крутые палитры,да и сам дизайн блокнота полный.Доставили за 3 дня.Хорошее качество самих страниц,всегда ношу с собой.Как изрисую этот закажу еще один.
						.text.text2
							h3 Григорий Бусенцов
							p  UI/UX designer
							p За создание сайта хотим выразить благодарность и пожелать постоянных заказчиков, а они будут, видя результаты и отношение Ваше к работе. На сегодняшний день Вы в тренде, потому что делаете БЫСТРО и КАЧЕСТВЕННО. Приятно работать с профессионалами.
						.text.text3
							h3 Вера Котляр
							p дизайнер интерьеров
							p Хочу поблагодарить за создание моего сайта! Работу сделали очень быстро и, главное, качественно! Сайт получился именно таким, как я и просила.В итоге, уже после нескольких дней размещения сайта, появились новые клиенты!
						.text.text4
							h3 Евгений Прядко
							p ЧП
							p Заказывал разработку нескольких сайтов специфической тематики. Сделали все качественно, с учетом нюансов, пожеланий и в обговоренные сроки.Кроме того постоянно пользуюсь техподдержкой по приемлемым ценам. Считаю это немаловажным моментом, для заказчиков старшего поколения.Особо хочу отметить щепетильное отношение к решению поставленных задач. С такими людьми приятно работать.
						.text.text5
							h3 Владимир Тсапенко
							p UI/UX designer
							p Мы остались под приятным впечатлением от качества работы с ребятами из веб-студии.Оперативно, качественно , недорого. Были выполнены все наши пожелания. В итоге получили функциональный Интернет магазин с прекрасным дизайном. Если честно, не ожидали такого отличного результата.В дальнейшем планируем пользоваться Вашими услугами и рекомендовать Вас своим друзьям и деловым партнерам. Всяческого Вам процветания и благ.
						.text.text6
							h3 Виталий Кравченко
							p ЧП
							p Сайт разработали быстро (раньше установленных сроков) и качественно, учли все пожелания, а так же предложили некоторые решения для улучшения сайта. Быстрая реакция по всяким изменениям и доработкам на сайте. Цена - более чем адекватная, по сравнению с другими студиями в Киеве. Также предоставляют услуги по хостингу и поддержке сайта, что очень удобно. Спасибо!
						.text.text7
							h3 Андрей Ковалев
							p ЧП
							p Приятно работать с хорошими людьми!Команда Махаон быстро и качественно переделала мой старый сайт. Я доволен!До знакомства с вами я неоднократно сталкивался с некачественными разработчиками. И лишь вы за вменяемые деньги сделали Все что я хотел. Где нужно, дали грамотные консультации.А вам желаю много прибыльный проектов! Спасибо!
			.aboutus#us
				h3 О нас
				.cont2
					.imag
						img(src="app/img/team.png", alt="")
					.textt
						p Создатели WEBNOTE команда дизайнеров,которая захотела угостить жизнь и сделать создание макетов удобнее.Мы продумали все аспекты исходя из своего опыта,что бы сделать блокнот максимально полезным.
						a(href="#") Подробнее о нас
			.form
				form(action="#")
					legend Заказать
					label(for="Name") Ваше имя <span>*</span>
					br
					input(type="text" id="Name")
					br
					label(for="Phone") Ваше телефон <span>*</span>
					br
					input(type="text" id="Phone") 
					label(for="Email") Ваш email
					input(type="email")
					p Оплата при получении </br> доставка 5-7 дней
					button(type="submit") Отправить

					
						
		footer
			h3 Наши контакты
			.cont3
				.adress
					h4 Где нас найти
					p 
						i.fa.fa-map-marker
						span ул.Коцарского 25,офис 306

				.contacts
					h4 Как с нами связаться
					p
						i.fa.fa-phone
						span +38073-499-08-29
					p
						i.fa.fa-envelope
						span webnote@gmail.com
				.icons
					h4 Следите за новостями
					br
					a(href="#").face
						span
							i.fa.fa-facebook
					a(href="#").twit
						span
							i.fa.fa-twitter
					a(href="#").vk
						span
							i(class="fa fa-vk" aria-hidden="true")

